<h1>followers一覧</h1>

<div class = "col-xs-12" "user-index" >
        <h2>Users</h2>
        <table class = "table">
         <thead>
            <tr>
                <th>image</th>
                <th>name</th>
            </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
                <tr><td><%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg"%></td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id), class: "link" %></td></tr>
            <% end %>
         </tbody>   
        </table>
    </div>