<section class = "single-book">
<%= form_for (@book) do |f| %>
   <h2>Title</h2>
   <%= f.text_field :title %>
   <h2>Opinion</h2>
   <%= f.text_area :body %> 

   <%= f.submit '投稿' %>
<% end %>
</section>